/* Add CSS Styling */

.first-element {
  background-color: black;
  color: #ffffff;
}

.second-element {
  background-color: hsl(50, 100%, 50%);
}

.first-element,
.second-element {
  font-size: 28px;
  font-family: 'Helvetica', 'Times New Roman', 'sans-serif';
}